<section class="content-header" push-menu>
    <h1>
        Usuarios del Sistema
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home.dashboard"><i class="fa fa-home"></i> Inicio</a></li>
        <li><i class="fa fa-user"></i> Usuarios</li>
    </ol>
</section>

<section class="content" block-ui="blockUI">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header" style="min-height: 40px">
                    <div class="box-tools pull-right">
                        <button tooltip-placement="left" uib-tooltip="Agregar Usuario" 
                        type="button" ui-sref="home.users.add" class="btn btn-box-tool export-button">
                            <i class="fa fa-plus-circle"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-12">
                                <table ng-table="users.tableParams" class="table table-bordered table-striped dataTable" role="grid">
                                    <tr ng-repeat="item in $data track by $index">
                                        <td data-title="'Nombre'" class="text-center"> {{item.name}}</td>
                                        <td data-title="'Apellido'" class="text-center"> {{item.surname}}</td>
                                        <td data-title="'Email'" class="text-center"> {{item.email}}</td>
                                        <td data-title="'Nombre de Usuario'" class="text-center"> {{item.username}}</td>
                                        <td data-title="'Fecha de creación'" class="text-center">{{item.created|dateToISO|date:"dd-MM-yyyy"}}</td>
                                        <td class="text-center option-icons" style="padding: 5px !important">
                                            <a class="btn btn-default" uib-tooltip="Actualizar" tooltip-placement="left" href="javascript:;" ui-sref="home.users.update({userID: item.id})">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a class="btn btn-default" uib-tooltip="Eliminar" tooltip-placement="left" href="javascript:;" ng-click="users.confirmDelete(item)">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr ng-hide="users.tableParams.total()">
                                        <td colspan="6">
                                            <div class="alert alert-warning">
                                                <i class="icon fa fa-warning"></i>No se encontraron usuarios
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
</section>